
		</br>
    </br>

<!-- ============================ COMPONENT BOOTSTRAP CARD WITH  IMG ================================= -->
<div class="row">
    <div class="col-md-4">
        <div class="card bg-dark">
          <img src="../images/brands/hd-mac_1.jpg" class="card-img opacity">
          <div class="card-img-overlay text-white">
            <h5 class="card-title">Apple Devices</h5>
            <p class="card-text">This is a wider card with text below</p>
            <a href="#" class="btn btn-light">Discover</a>
          </div>
        </div>
    </div> <!-- col.// -->
    <div class="col-md-4">
        <div class="card bg-dark">
          <img src="../images/brands/hd-samsung_1.jpg" class="card-img opacity">
          <div class="card-img-overlay text-white">
            <h5 class="card-title">Samsung</h5>
            <p class="card-text">This is a wider card with text below</p>
            <a href="#" class="btn btn-light">Discover</a>
          </div>
        </div>
    </div> <!-- col.// -->
    <div class="col-md-4">
        <div class="card bg-dark">
          <img src="../images/brands/hd-sony_1.jpg" class="card-img opacity">
          <div class="card-img-overlay text-white">
            <h5 class="card-title">Sony</h5>
            <p class="card-text">This is a wider card with text below</p>
            <a href="#" class="btn btn-light">Discover</a>
          </div>
        </div>
    </div> <!-- col.// -->
    
</div> <!-- row.// -->
<!-- ============================ COMPONENTBOOTSTRAP CARD IMG  END .// ================================= -->

</br>
</br>

<div class="row">
    <div class="col-md-4">
        <!-- ============================ COMPONENT BANNER 4 ================================= -->
                    <div class="card-banner">
                      <div class="card-body" style="height:250px; background-image: url('../images/banners/banner7.jpg');"> </div>
                      <div class="text-bottom"><h5 class="title">Free shipping</h5></div>
                    </div>
        <!-- ======================= COMPONENT BANNER 4  END .// ============================ -->
                </div> <!-- col.// -->
                <div class="col-md-4">
        <!-- ============================ COMPONENT BANNER 5  ================================= -->
        <div class="card-banner align-items-end" style="height:250px; background-image: url('../images/banners/banner9.jpg');">
            <article class="caption m-4 w-100">
                <h5 class="card-title">Best products</h5>
                <p>No matter how far along you are in your sophistication as an amateur.</p>
            </article>
        </div>
        <!-- ============================ COMPONENT BANNER 5  END .// =========================== -->
                </div> <!-- col.// -->
                <div class="col-md-4">
        <!-- ============================ COMPONENT BANNER 6 ================================= -->
                <div class="card-banner align-items-end" style="height:250px; background-image: url('../images/banners/banner9.jpg');">
                    <article class="caption m-4 w-100">
                        <h5 class="card-title">Camera & Photo</h5>
                        <p>No matter how far along you are in your sophistication as an amateur.</p>
                    </article>
                </div>
        <!-- ============================ COMPONENT BANNER 6  END .// ================================= -->
    </div> <!-- col.// -->
</div> <!-- row.// -->

</div>  
<!-- container end.// -->
</br>
</br>

<!-- ========================= SECTION SUBSCRIBE  ========================= -->
<section class="section-subscribe padding-y-lg">
	<div class="">
	
	<p class="pb-2 text-center text-white">Delivering the latest product trends and industry news straight to your inbox</p>
	
	<div class="row justify-content-md-center">
	  <div class="col-lg-5 col-md-6">
	<form class="form-row" action="/newsletters_version_2" method="POST">
		<div class="col-md-8 col-7">
		<input class="form-control border-0" placeholder="Your Email" type="email" name="email">
		</div> <!-- col.// -->
		<div class="col-md-4 col-5">
		<button type="submit" class="btn btn-block btn-warning"> <i class="fa fa-envelope"></i> Subscribe </button>
		</div> <!-- col.// -->
	</form>
	<small class="form-text text-white-50">We’ll never share your email address with a third-party. </small>
	  </div> <!-- col-md-6.// -->
	</div>
	  
	
	</div>
	</section>
	<!-- ========================= SECTION SUBSCRIBE END// ========================= -->
	
    




<!-- ========================= FOOTER ========================= -->
<footer class="section-footer border-top section-subscribe padding-y-lg text-white">
	<div class="">
		<section class="footer-top padding-y">
			<div class="row">
				<aside class="col-md-4">
					<article class="mr-3">
						<img src="images/logo.png"  class="logo-footer img-fluid">
						<p class="mt-3">Some short text about company like You might remember the Dell computer commercials in which a youth reports this exciting news to his friends.</p>
						<div>
						    <a class="btn btn-icon btn-light" title="Facebook" target="_blank" href="#"><i class="fab fa-facebook-f"></i></a>
						    <a class="btn btn-icon btn-light" title="Instagram" target="_blank" href="#"><i class="fab fa-instagram"></i></a>
						    <a class="btn btn-icon btn-light" title="Youtube" target="_blank" href="#"><i class="fab fa-youtube"></i></a>
						    <a class="btn btn-icon btn-light" title="Twitter" target="_blank" href="#"><i class="fab fa-twitter"></i></a>
						</div>
					</article>
				</aside>
				<aside class="col-sm-3 col-md-2">
					<h6 class="title">About</h6>
					<ul class="list-unstyled">
						<li> <a href="#">About us</a></li>
						<li> <a href="#">Services</a></li>
						<li> <a href="#">Rules and terms</a></li>
						<li> <a href="#">Blogs</a></li>
					</ul>
				</aside>
				<aside class="col-sm-3 col-md-2">
					<h6 class="title">Services</h6>
					<ul class="list-unstyled">
						<li> <a href="#">Help center</a></li>
						<li> <a href="#">Money refund</a></li>
						<li> <a href="#">Terms and Policy</a></li>
						<li> <a href="#">Open dispute</a></li>
					</ul>
				</aside>
				<aside class="col-sm-3  col-md-2">
					<h6 class="title">For users</h6>
					<ul class="list-unstyled">
						<li> <a href="#"> User Login </a></li>
						<li> <a href="#"> User register </a></li>
						<li> <a href="#"> Account Setting </a></li>
						<li> <a href="#"> My Orders </a></li>
						<li> <a href="#"> My Wishlist </a></li>
					</ul>
				</aside>
				<aside class="col-sm-2  col-md-2">
					<h6 class="title">Our app</h6>
					<a href="#" class="d-block mb-2"><img class="img-fluid" src="images/misc/appstore.png" height="40"></a>
					<a href="#"  class="d-block mb-2"><img class="img-fluid" src="images/misc/playmarket.png" height="40"></a>
				</aside>
			</div> <!-- row.// -->
		</section>	<!-- footer-top.// -->

		<section class="footer-copyright border-top">
				<p class="float-left  text-white"> &copy 2020 WelcomeToEmarket.com  All rights resetved </p>
				<p target="_blank" class="float-right text-muted">
						<span  class="pr-2"><a href="page-content.html">Privacy policy</a></span>
						<span  class="pr-2"><a href="page-content.html">Terms of use</a></span>
				</p>
		</section>
	</div><!-- //container -->
</footer>
<!-- ========================= FOOTER END // ========================= -->

